body {
    background: #EACB00;
    font-family: sans-serif;
    }
#page {
    background: white;
    border: 15px solid #262626;
    margin: 2em auto 0 auto;
    padding: 0.8em;
    width: 35em;
    }
    #page h2 {
        color: #262626;
        font-weight: lighter;
    }
    #page .error,
    #page .flash {
        background: #F0E68C;
        border: 1px solid #C5C5C5;
        padding: 0.5em;
    }
#nav {
    font-size: 0.8em;
    margin-bottom: 1em;
    padding: 0.3em;
    text-align: right;
    }
#footer {
    font-size: 0.7em;
    letter-spacing:1px;
    margin: 0 auto;
    text-align: center;
    }


#entries {
    list-style: none;
    margin: 0;
    padding: 1.5em;
    }
    #entries li {
        border-top: 1px solid #C5C5C5;
        margin: 0.8em 0;
        }
    #entries li#next-link {
        color: gray;
        display: none;
        }
        #entries li .content {
            word-wrap: break-word;
        }
        #entries li .meta {
            color: gray;
            font-size: 0.7em;
        }
#entry-form {
    padding: 0 1.5em;
    width: 25em;
    }
    #entry-form .question {
        margin-bottom: 0;
    }
    #entry-form #content {
        width: 100%;
    }
    #entry-form .action {
        text-align: right;
    }


#login-form,
#signup-form {}
    #signup-form .hint {
        color: #666;
        font-size: 0.9em;
    }
    #login-form dt,
    #signup-form dt {
        padding-top: 0.8em;
        padding-bottom: 0.2em;
    }